$bcyan: hsl(172, 67%, 45%);
$vdcyan: hsl(183, 100%, 15%);
$dgcyan1: hsl(186, 14%, 43%);
$dgcyan2: hsl(184, 14%, 56%);
$bg: hsl(185, 41%, 84%);
$input: hsl(189, 41%, 97%);
$placeholder: #a1b9b9;
$border: #bbdfdd;
$hover: #9fe8df;
$error: #e77364;
$bia: #0d686d;
$biac: #035c62;
