@use "./base/reset";
@use "./base/fonts" as *;
@use "./base/variables" as *;
@use "./base/extends";
@use "./icons/icons";

* {
  box-sizing: border-box;
}

body {
  font-family: "Space Mono";
  background-color: $bg;
}

header {
  padding-top: 160px;
  margin-bottom: 85px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    &::after {
      content: "\e902";
      font-family: icomoon;
      color: $vdcyan;
      font-size: 60px;
    }
  }
}

.container {
  margin: 0px auto;
  max-width: 924px;
}

main {
  background-color: white;
  min-height: 100px;
  border-radius: 20px;
  border-left: $border solid 2px;
  border-right: $border solid 2px;
  padding: 32px;
  padding-left: 48px;
  display: flex;
  justify-content: space-between;
  gap: 48px;
  .calc {
    padding-top: 18px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    gap: 48px;
    @include font;
    &__bill {
      &__i {
        position: absolute;
        padding-top: 12px;
        padding-left: 16px;
        &::before {
          content: "\e900";
          font-family: icomoon;
          color: $placeholder;
          font-size: 16px;
        }
      }
      &__input {
        @extend %input;
      }
    }

    &__select__values {
      display: flex;
      flex-wrap: wrap;
      gap: 14px;
      &__button {
        //flex-basis: 115px;
        width: 115px;
        flex-grow: 1;
        border: none;
        border-radius: 5px;
        padding: 13px;
        background-color: $vdcyan;
        @include font(18px, 18px, white, 700);
        &:hover {
          background-color: $hover;
          color: $vdcyan;
        }
        &--custom {
          background-color: $input;
          color: $dgcyan1;
          text-align: center;
        }
        &--active {
          background-color: $bcyan;
          color: $vdcyan;
        }
      }
    }
    &__number {
      &__titles {
        display: flex;
        justify-content: space-between;
        &--error {
          color: $error;
          .calc__number__input {
            border: $error solid 1px;
          }
        }
      }
      &__i {
        position: absolute;
        padding-top: 12px;
        padding-left: 16px;
        &::before {
          content: "\e901";
          font-family: icomoon;
          color: $placeholder;
          font-size: 16px;
        }
      }
      &__input {
        @extend %input;
      }
    }
    h2 {
      margin-bottom: 10px;
    }
  }
  .res {
    background-color: $vdcyan;
    width: 50%;
    border-radius: 15px;
    padding: 60px 40px;
    &__text {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      &__static {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-top: 3px;
        @include font(16px, 16px, white, 400);
        p {
          @include font(13px, 13px, $dgcyan1, 400);
        }
      }
      &__money {
        @include font(36px, 36px, $bcyan, 700);
      }
    }
  }
}
