@use "./base/reset";
@use "./base/fonts" as *;
@use "./base/variables" as *;
@use "./icons/icons";

* {
  box-sizing: border-box;
}

body {
  font-family: "Space Mono";
  background-color: $bg;
}

header {
  padding-top: 160px;
  margin-bottom: 85px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    &::after {
      content: "\e902";
      font-family: icomoon;
      color: $vdcyan;
      font-size: 60px;
    }
  }
}

.container {
  margin: 0px auto;
  max-width: 924px;
}

main {
  background-color: white;
  min-height: 100px;
  border-radius: 20px;
  border-left: $dgcyan2 solid 2px;
  border-right: $dgcyan2 solid 2px;
  padding: 32px;
  padding-left: 48px;
  display: flex;
  justify-content: space-between;
  gap: 48px;
  .calc {
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 48px;
    @include font;

    &__select__values {
      display: flex;
      flex-wrap: wrap;
      gap: 14px;
    }
    h2 {
      margin-bottom: 10px;
    }
    input {
      border: none;
      border-radius: 5px;
      background-color: $input;
      padding: 5px;
      @include font(18px, 18px, $vdcyan, 700);
      text-align: right;
      &::placeholder {
        @include font(18px, 18px, $placeholder, 700);
        text-align: right;
      }
    }
  }
}
